.inactive
	--background: url('../../assets/answerInactive.svg')
	--hover: url('../../assets/answerHover.svg')
.correct
	--background: url('../../assets/answerCorrect.svg')
	--hover: url('../../assets/answerCorrect.svg')
.incorrect
	--background: url('../../assets/answerIncorrect.svg')
	--hover: url('../../assets/answerIncorrect.svg')

.AnswerButton
	max-width: 422px
	width: 100%
	min-height: 72px
	display: flex
	background-image: var(--background)
	background-position: center
	background-size: contain
	background-repeat: no-repeat
	padding: 26px 0 0 52px

	span
		font-size: 1.25rem
		&:first-child
			color: var(--royal-blue-col)
			margin-right: 8px
		&:last-child
			color: var(--shark-col)

	&:hover
		cursor: pointer
		background-image: var(--hover)

@media screen and (max-width: 2560px)
	.AnswerButton
		background-size: cover
		max-width: 522px
@media screen and (max-width: 1440px)
	.AnswerButton
		background-size: contain
		max-width: 422px
@media screen and (max-width: 1024px)
	.AnswerButton
		background-size: contain
