.passed
	--background: url('../../assets/prizeInactive.svg')
	--color: var(--mischka-col)
.active
	--background: url('../../assets/prizeCurrent.svg')
	--color: var(--royal-blue-col)
.next
	--background: url('../../assets/prizeInactive.svg')
	--color: var(--shark-col)

.PrizeItem
	width: 100%
	height: 40px
	background-image: var(--background)
	background-size: contain
	background-repeat: no-repeat
	text-align: center
	padding: 8px 0 0 0


	span
		font-size: 20px
		color: var(--color)
